.home_page{
    border:1px solid;
    width:100%;
    
}
.input-box{
    text-align: center;
    margin-top: 7%;
}
.search-box{
    border-radius:10px;
    width:30%;
    height:25px;
}
.search-box:focus{
    border-radius:10px;
    outline: none;
    
}

.search-btn,.drop-down{
    background-color: rgb(250, 9, 9);
    outline: none;
    border-radius:10px;
    width:7%;
    height:30px;
}